<% content_for :title do %>
  Edit Profile
<% end %>


<% content_for :header do %>
<div class="row page-titles">
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Edit My Profile</h3>
    </div>
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item">Profile</li>
            <li class="breadcrumb-item active">Edit</li>
        </ol>
    </div>
</div>
<% end %>


<% content_for :alert do %>
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' or type == 'success' %>
          <div class="alert alert-success">
            <%= msg %>
          </div>
        <% elsif type == 'alert' %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">
                Edit <%= resource_name.to_s.humanize %>
                </h4>
                <h6 class="card-subtitle">
                    Edit my profile.
                </h6>

                <%= render "form", resource: resource %>

                <%#
                <h3>Cancel my account</h3>
                <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
            </div>
        </div>
    </div>
</div>
