<% content_for :title do %>
  Edit Profile
<% end %>


<% content_for :alert do %>
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
          <div class="alert alert-success">
            <%= msg %>
          </div>
        <% elsif type == 'alert' %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


<div class="text-center">
  <nav style="background-color: #4f3ad1" class="navbar navbar-expand-md navbar-dark bg-#2069b5 fixed-top">
  <a class="navbar-brand" href="/">Artwork</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <li><%= link_to "Edit", edit_user_registration_path, :class => 'color' %></li>
      <li style="margin-left: 30px"><%= link_to "Log out", destroy_user_session_path, :method => 'delete', :class => 'color' %></li>
    </ul>
  </div>
</nav>
  <div>
    <div class="py-3 text-center">
        <h1>Edit <%= resource_name.to_s.humanize %></h1>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <div class="col-md-5 mb-5" style="display: flex; margin: auto; margin-bottom: 2rem!important;">
          <label for="address" style="margin-right: 130px">Username:</label>
          <%= f.text_field(:username, {:class => 'form-control'}) %>
      </div>
      <div class="col-md-5 mb-5" style="display: flex; margin: auto; margin-bottom: 2rem!important;">
          <label for="address" style="margin-right: 170px">Email:</label>
          <%= f.email_field(:email, {:class => 'form-control'}) %>
      </div>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="col-md-5 mb-5" style="display: flex; margin: auto; margin-bottom: 2rem!important;">
          <label for="address" style="margin-right: 125px">CreditCard:</label>
          <%= f.text_field(:credit_card, {:class => 'form-control'}) %>
      </div>
      <div class="col-md-5 mb-5" style="display: flex; margin: auto; margin-bottom: 2rem!important;">
          <label for="address" style="margin-right: 138px">Password:</label>
          <%= f.password_field(:password, {:class => 'form-control'}) %>
      </div>
      <div class="col-md-5 mb-5" style="display: flex; margin: auto; margin-bottom: 2rem!important;">
          <label for="address" style="margin-right: 32px">PasswordConfirmation:</label>
          <%= f.password_field(:password_confirmation, {:class => 'form-control'}) %>
      </div>
      <div class="col-md-5 mb-5" style="display: flex; margin: auto; margin-bottom: 2rem!important;">
          <label for="address" style="margin-right: 77px">CurrentPassword:</label>
          <%= f.password_field(:current_password, {:class => 'form-control'}) %>
      </div>
      <div class="col-md-5 mb-5" style="margin: auto; margin-bottom: 1rem!important;">
          <%= render "devise/shared/error_messages", resource: resource %>
      </div>
      <button class="btn btn-lg btn-primary btn-block" style="width: 17%; margin: auto; background-color: rgb(25, 118, 210)" type="submit">Update
        </button>
      <% end %>
      <%#<h3>Cancel my account</h3>
      <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %>
    </div>
</div>
