<% content_for :title do %>
  Sign Up
<% end %>


<% content_for :head do %>
  <style>
    .login-register-bg {
      background-image: url('<%= image_url("magical_forest_by_kitty_craftsy.png") %>');
    }
  </style>
<% end %>


<% content_for :alert do %>
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
          <div class="alert alert-success">
            <%= msg %>
          </div>
        <% elsif type == 'alert' %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


  <div class="login-register login-register-bg">
    <div class="login-box card">
      <div class="card-body">
        <%= form_for resource, as: resource_name, url: registration_path(resource_name) do |f| %>
          <h3 class="box-title m-b-20 text-center">Sign Up</h3>
            <div class="form-group">
              <div class="col-xs-12">
                <%= f.text_field :username, {class: 'form-control', placeholder: 'Username', required: ''} %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= f.password_field :password, {class: 'form-control', placeholder: 'Password', required: ''} %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= f.password_field :password_confirmation, {class: 'form-control', placeholder: "Confirm Password", required: ''} %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= f.email_field :email, {class: 'form-control', placeholder: 'Email', required: ''} %>
              </div>
            </div>
            <div class="form-group">
              <div class="col-xs-12">
                <%= f.hidden_field :credit_card, value: 0 %>
                <%= f.hidden_field :point, :value => 0 %>
              </div>
            </div>
            <div class="form-group row">
              <div class="col-md-12">
                <div class="checkbox checkbox-success">
                  <input id="checkbox-signup" type="checkbox" required="">
                  <label for="checkbox-signup"> I agree to all <a href="#">Terms</a></label>
                </div>
              </div>
            </div>
            <div class="form-group text-center m-t-20">
              <div class="col-xs-12">
                <button class="btn btn-info btn-lg btn-block text-uppercase waves-effect waves-light" type="submit">Sign Up</button>
              </div>
            </div>
            <div class="form-group m-b-0">
              <div class="col-sm-12 text-center">
                <div>Already have an account?
                  <b><%= render "devise/shared/links" %></b>
                </div>
              </div>
            </div>
        <% end %>
      </div>
    </div>
  </div>
