<%= form_with(
      model: artwork,
      local: true,
      html: { class: "form needs-validation", novalidate: true }
    ) do |form| %>

    <hr>
    <!-- the artwork itself -->
    <div class="form-group row m-t-20">

        <% if form.object.persisted? %>

        <div class="col-md-4" style="margin: auto;">
            <div class="el-card-avatar el-overlay-1">
                <%= cl_image_tag @artwork.image.key,
                    class: 'card-img-top img-responsive',
                    alt: "Something went wrong, please try later.",
                    loading: "lazy",
                    width: 420, height: 280,
                    sign_url: true,
                    crop: "lpad",
                    background: "auto:border" %>
            </div>
        </div>

        <% else %>

        <%= form.label :image, 'Your artwork file', class: 'col-md-2 col-form-label' %>
        <div class="col-md-4">
            <%= form.file_field :image,
                id: 'input-file-now-custom-1',
                class: 'dropify form-control'
            %>
            <div class="invalid-feedback">
            Artwork file must have max size of 200MB.
            </div>
        </div>

        <% end %>
    </div>

    <!-- the artwork's NAME -->
    <div class="form-group row">
        <%= form.label :name, class: 'col-md-2 col-form-label' %>
        <div class="col-md-10">
            <%= form.text_field :name,
                class: 'form-control',
                placeholder: "Artwork name",
                required: true %>
            <div class="invalid-feedback">
            Artwork name must have length of 1 to 100 characters.
            </div>
        </div>
    </div>

    <!-- the artwork's DESCRIPTION -->
    <div class="form-group row">
        <%= form.label :description, class: 'col-md-2 col-form-label' %>
        <div class="col-md-10">
            <%= form.text_area :description, size: '50x10',
                class: 'form-control',
                placeholder: "Artwork description",
                required: true %>
        </div>
    </div>

    <!-- the artwork's VALUE (points) -->
    <div class="form-group row">
        <%= form.label :value, class: 'col-md-2 col-form-label' %>
        <div class="col-md-10">
            <%= form.text_field :value,
                class: 'form-control',
                placeholder: "Artwork value",
                required: true %>
        </div>
    </div>

    <!-- the artwork's CATEGORY -->
    <div class="form-group row">
        <%= form.label :catid, 'Category', class: 'col-md-2 col-form-label' %>
        <div class="col-md-10">
            <%= form.select :category_id,
                options_for_select(categories),
                { prompt: 'Select Category' },
                { required: true, class: 'custom-select col-12' } %>
        </div>
    </div>

    <!-- the artwork's TAGS -->
    <div class="form-group row">
        <%= form.label :tagnames, 'Tags', class: 'col-md-2 col-form-label' %>
        <div class="col-md-10">
            <div class="tags-default">
                <%= form.text_field :tagnames,
                    value: tagnames,
                    class: 'form-control',
                    placeholder: 'Add tags',
                    data: { role: 'tagsinput' },
                    autocomplete: 'off',
                    required: false %>
            </div>
        </div>
    </div>

    <!-- the artwork's publishing status -->
    <!--div class="form-group row">
        <label class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <%= form.check_box :is_public, checked: true %>
            <%= form.label :is_public, "Publish on upload", class: 'control-label' %>
        </div>
    </div-->

    <div class="form-group row">
        <label class="col-md-2 col-form-label"></label>
        <div class="col-md-10">
            <div class="actions">
                <%= form.submit class: 'btn btn-success m-r-20' %>
                <%= link_to 'View artwork list',
                    artworks_path,
                    class: "btn btn-secondary" %>
            </div>
        </div>
    </div>
<% end %>
