<%= form_with(
      model: artwork,
      local: true,
      html: {class: "needs-validation", novalidate: true}
    ) do |form| %>

  <div class="form-body">
    <hr>
    <!-- the artwork itself -->
    <div class="row p-t-20">

        <% if form.object.persisted? %>

        <div class="col-lg-12 col-md-12 d-flex justify-content-center">
            <div class="el-card-avatar el-overlay-1">
                <%= image_tag @artwork.image, class: 'card-img-top img-responsive' %>
            </div>
        </div>

        <% else %>

        <div class="col-lg-6 col-md-6">
            <div class="field input-group">
                <%= form.label :image, 'Your artwork file', class: 'control-label' %>
                <%= form.file_field :image,
                    id: 'input-file-now-custom-1',
                    class: 'dropify'
                %>
                <div class="invalid-feedback">
                Artwork file must have max size of 200MB.
                </div>
            </div>
        </div>

        <% end %>
    </div>
    <!-- the artwork's NAME -->
    <div class="row p-t-20">
        <div class="col-lg-12">
            <div class="field input-group">
                <%= form.label :name, class: 'control-label' %>
                <%= form.text_field :name,
                    class: 'form-control',
                    placeholder: "Artwork name",
                    required: true %>
                <div class="invalid-feedback">
                Artwork name must have length of 1 to 100 characters.
                </div>
            </div>
        </div>
    </div>
    <!-- the artwork's DESCRIPTION -->
    <div class="row p-t-20">
        <div class="col-lg-12">
            <div class="field input-group">
                <%= form.label :description, class: 'control-label' %>
                <%= form.text_area :description, size: '50x10',
                    class: 'form-control',
                    placeholder: "Artwork description",
                    required: true %>
            </div>
        </div>
    </div>
    <!-- the artwork's VALUE (points) -->
    <div class="row p-t-20">
        <div class="col-lg-12">
            <div class="field input-group">
                <%= form.label :value, class: 'control-label' %>
                <%= form.text_field :value,
                    class: 'form-control',
                    placeholder: "Artwork value",
                    required: true %>
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
    </div>
    <!-- the artwork's CATEGORY -->
    <div class="row p-t-20">
        <div class="col-lg-12">
            <div class="field input-group">
                <%= form.label :catid, 'Category', class: 'col-md-2 col-form-label' %>
                <div class="col-md-10">
                <%= form.select :category_id,
                    options_for_select(categories),
                    prompt: 'Select Category',
                    class: 'custom-select col-12',
                    required: true %>
                </div>
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
    </div>
    <!-- the artwork's TAGS -->
    <div class="row p-t-20">
        <div class="col-lg-12">
            <div class="field input-group">
                <%= form.label :tagnames, 'Tags', class: 'col-md-2 col-form-label' %>
                <div class="col-md-10">
                    <div class="tags-default">
                        <%= form.text_field :tagnames,
                            value: tagnames,
                            class: 'form-control',
                            placeholder: 'Add tags',
                            data: { role: 'tagsinput' },
                            autocomplete: 'off',
                            required: false %>
                    </div>
                </div>
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
    </div>
    <!-- the artwork's publishing status -->
    <div class="row p-t-20">
        <div class="col-lg-12">
            <div class="field input-group">
                <%= form.check_box :is_public, checked: true %>
                <%= form.label :is_public, "Publish on upload", class: 'control-label' %>
                <div class="invalid-feedback">
                </div>
            </div>
        </div>
    </div>
  </div>
    <div class="actions form-actions">
        <div class="actions">
            <%= form.submit class: 'btn btn-success m-r-20' %>
            <%= link_to 'View artwork list',
                artworks_path,
                class: "btn btn-secondary" %>
        </div>
    </div>
<% end %>
