<div class="card-columns el-element-overlay">

  <% @artworks.each do |artwork| %>
    <% if artwork.image.present? %>

      <div class="card">
        <div class="el-card-item">
          <div class="el-card-avatar el-overlay-1">
            <%= link_to artwork_path(artwork),
                class: 'image-popup-vertical-fit' do %>
              <%= image_tag artwork.image, alt: "Oops!"%>
            <% end %>
            <div class="el-overlay">
              <ul class="el-info">
                <li>
                  <%= link_to artwork_path(artwork) do %>
                    <%= artwork.name %>
                    <i class="icon-link"></i>
                  <% end %>
                  <br />
                  <p class="formal-text">
                    by
                    <%= link_to artwork.user.username, user_path(artwork.user) %>
                  </p>
                  <br />
                  <p class="formal-text">
                    <%= artwork.fav_count %>
                    <i class="icon-heart"></i>
                  </p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>

</div>
