<% content_for :title do "My artworks" end %>


<% content_for :head do %>
  <style>
    .el-element-overlay .el-card-item {
      padding-bottom: 0;
    }
    .el-element-overlay .el-card-item .el-card-avatar {
      margin-bottom: 0;
    }
    /* .el-element-overlay .el-card-item .el-overlay-1 {
      text-align: left;
      padding-bottom: 0;
    } */
    .el-element-overlay .el-card-item .el-overlay-1 .el-info > li a:hover {
      background: transparent;
      border-color: transparent;
    }
    .formal-text {
      /* padding-left: 15px;
      padding-bottom: 10px; */
      padding-top: 10px;
      margin: 0 !important;
      text-transform: capitalize;
    }
  </style>
<% end %>


<% content_for :search do %>
  <%= render "search" %>
<% end %>


<% content_for :header do %>
<div class="row page-titles">
    <!-- Page inner title -->
    <div class="col-md-5 align-self-center">
        <h3 class="text-themecolor">Public Gallery</h3>
    </div>
    <!-- Bread crumb -->
    <div class="col-md-7 align-self-center">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item"><a href="/">Artwork</a></li>
            <li class="breadcrumb-item active">Mine</li>
        </ol>
    </div>
</div>
<% end %>


<% content_for :alert do %>
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
          <div class="alert alert-success">
            <%= msg %>
          </div>
        <% elsif type == 'alert' %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


  <div class="row m-t-40">
    <div class="col-md-12">
        <h4 class="m-b-0">My Artworks</h4>
        <p class="text-muted m-t-0 font-12">All of your uploaded artworks.</p>
    </div>
  </div>

  <%= render "gallery", artworks: @artworks %>


<% content_for :scripts do %>
  <script>
    $(document).ready(function() {
    // Select and loop the container element of the elements you want to equalise
      $('.box-container').each(function() {
        // Cache the highest
        var highestBox = 0;
        // Select and loop the elements you want to equalise
        $('.box-column', this).each(function() {
          // If this box is higher than the cached highest then store it
          if ($(this).height() > highestBox) {
            highestBox = $(this).height();
          }
        });
        // Set the height of all those children to whichever was highest
        $('.box-column', this).height(highestBox);
      });
    });
  </script>
<% end %>
