<% content_for :title do @artwork.name end %>


<% content_for :head do %>
<style>
    #content img {
        width: 100% !important;
    }
    #data-table-users td {
        text-align: center;
        vertical-align: middle;
    }
    [data-target *= "hidden-by-default"]:focus {
        outline: none;
    }
    .error {
        color: red;
        display: block;
        padding: 0;
        margin: 0;
    }
    .list-upload:hover {
        color: #1976d2;
        background: #e7f6fe;
    }
    #add-file-button:hover {
        color: #00897b;
        cursor: pointer;
    }
    .el-element-overlay .el-card-item {
      padding-bottom: 0;
    }
    .el-element-overlay .el-card-item .el-card-avatar {
      margin-bottom: 0;
    }
    .el-element-overlay .el-card-item .el-overlay-1:hover img {
      -ms-transform: scale(1) translateZ(0);
      -webkit-transform: scale(1) translateZ(0);
    }
    .btn-facebook {
      color: #fff;
      background-color: #4C67A1;
    }
    .btn-facebook:hover {
      color: #fff;
      background-color: #405D9B;
    }
    .btn-facebook:focus {
      color: #fff;
    }
    #get-link:hover i {
      color: #fff !important;
    }
    .square {
      float: left;
      position: relative;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .square-3 {
      width: 30%;
      padding-bottom: 30%; /* = width for a 1:1 aspect ratio */
      margin: 1.66%;
      /* FOR .square-n where n = _items_per_row
       * _items_per_row = 100 / width
       * _gutters = 100 - _items_per_row * width
       * margin = _gutters / (2 * _items_per_row)
       */
    }
    .square-2 {
      width: 45%;
      padding-bottom: 45%;
      margin: 2.5%;
    }
</style>
<% end %>


<% content_for :header do %>
<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Artwork View</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Artwork</li>
      <li class="breadcrumb-item active">Show</li>
    </ol>
  </div>
</div>
<% end %>


<% content_for :alert do %>
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
          <div class="alert alert-success">
            <%= msg %>
          </div>
        <% elsif type == 'alert' %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


    <div class="row el-element-overlay">
        <!-- Column -->
        <div class="col-lg-8 col-xlg-8 col-md-12 col-sm-12" id="left-info-container">
            <div class="card" id="left-info">
<%
=begin%>
 <%# if (@artwork.status == 'published') %>
                  <%# if (session().get('admin')['role_id'] == 1) %>
                  <div class="ribbon ribbon-info ribbon-right">Active</div>
                  <%# endif %>
                  <%# if (@artwork.max_quantity <= @artwork.learner_count) %>
                  <div class="ribbon ribbon-danger">Full</div>
                  <%# else %>
                  <div class="ribbon ribbon-info">Available</div>
                  <%# endif %>
              <%# elseif (@artwork.status == 'inactive')  %>
              <div class="ribbon ribbon-danger ribbon-right">Inactive</div>
              <%# elseif (@artwork.status == 'draft')  %>
              <div class="ribbon ribbon-default ribbon-right">Draft</div>
              <%# endif %>
<%
=end%>
              <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <%= image_tag @artwork.image, class: 'card-img-top img-responsive' %>
                </div>
                <div class="el-card-content">

                  <% if not (current_user and current_user.is_admin) %>

                  <div class="row m-t-10">
                    <div class="col-3 b-r">
                      <div class="text-center">
                        <h5>
                          <%= link_to fav_data[:link],
                              method: fav_data[:meth],
                              remote: fav_data[:uses_ajax],
                              data: fav_data[:toggle_data],
                              id: 'favlink',
                              class: 'invisible' do %>
                            <button type="button"
                                class="btn btn-outline invisible"
                                data-toggle="button"
                                aria-pressed="true">
                              <i id="empty-heart"
                                class="fa fa-heart-o <%= fav_data[:empty_heart] %> visible"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Favorite"
                                aria-hidden="true"></i>
                              <i id="filled-heart"
                                class="fa fa-heart <%= fav_data[:filled_heart] %> text-danger visible"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Favorite"
                                aria-hidden="true"></i>
                            </button>
                          <% end %>
                          <span id="favcount">
                            <%= artw_fav_count %>
                          </span>
                        </h5>
                      </div>
                    </div>
                    <div class="col-3 b-r">
                      <div class="text-center">
                        <h5>
                          <button class="btn btn-outline invisible"
                                  data-toggle="modal"
                                  data-target="#download-modal">
                            <i class="ti-download btn visible" data-toggle="tooltip" data-placement="bottom" title="Download"></i>
                            <%#= @artwork.downloadcount %>
                          </button>
                        </h5>
                        <div class="modal fade"
                            id="download-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="Download"
                            aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered"
                              role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"
                                    id="download-artwork">
                                  Download this artwork
                                </h4>
                                <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <%= form_with  url: download_path(@artwork.id),
                                                 method: 'post',
                                                 html: {
                                                   id: 'dl-form',
                                                   class: 'form-material'
                                                 } do |form| %>
                                    <div class="form-body row">
                                        <div class="col-6 b-r">
                                          <div>
                                            <%= form.radio_button :option, 'free', class: 'with-gap', checked: true %>
                                            <%= form.label :option_free, 'free', class: 'text-uppercase font-weight-bold' %>
                                          </div>
                                          <h5>Standard quality</h5>
                                          <small class="text-justify">
                                            Consider donating points to support the author
                                          </small>
                                          <br />
                                          <%= number_field_tag :amount,
                                              0, min: 0, max: 9999, step: 1,
                                              class: 'w-25 form-control text-right' %> points
                                        </div>
                                        <div class="col-6">
                                          <div>
                                            <%= form.radio_button :option, 'paid', class: 'with-gap' %>
                                            <%= form.label :option_paid, 'paid', class: 'text-uppercase font-weight-bold' %>
                                          </div>
                                          <h5>High quality</h5>
                                          <h3 class="text-success">
                                            <%= @artwork.value %>
                                          </h3> points
                                        </div>
                                    </div>
                                    <div class="actions form-actions m-t-20">
                                      <div class="actions">
                                        <%= form.button :button,
                                            type: :submit,
                                            id: 'dl-submit',
                                            class: 'btn btn-success waves-effect' do %>
                                          Download
                                        <% end %>
                                      </div>
                                    </div>
                                  <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="modal fade"
                            id="dnload-err-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="Download failed"
                            aria-hidden="true">
                          <div class="modal-dialog modal-sm modal-dialog-centered"
                              role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title text-danger"
                                    id="download-artwork">
                                  Download failed
                                </h4>
                                <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body text-left">
                                <span id="dl-failed-txt">Error</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 b-r">
                      <div class="text-center">
                        <h5>
                          <button class="btn btn-outline invisible"
                                  data-toggle="modal"
                                  data-target="#share-modal">
                            <i class="ti-share btn visible" data-toggle="tooltip" data-placement="bottom" title="Share">
                            </i>
                          </button>
                          <%#= @artwork.sharecount %>
                        </h5>
                        <div class="modal fade"
                            id="share-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="Share"
                            aria-hidden="true">
                          <div class="modal-dialog modal-sm modal-dialog-centered"
                              role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"
                                    id="share-artwork">
                                  Share this artwork
                                </h4>
                                <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div>
                                  <button type="button" id="get-link" class="btn btn-success btn-circle btn-lg m-l-10 m-r-10" onclick="copy2clipboard()">
                                    <i class="fa fa-link"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       title="Copy link"></i>
                                  </button>
                                  <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=<%= artwork_url(@artwork) %>&p[images][0]=&p[title]=Check%20out%20this%20excellent%20artwork%20on%20Artrails!&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250,top=80,left=180'); return false">
                                    <button class="btn btn-facebook waves-effect btn-circle btn-lg waves-light m-l-10 m-r-10" type="button">
                                      <i class="fa fa-facebook"
                                         data-toggle="tooltip"
                                         data-placement="bottom"
                                         title="Share on Facebook"></i>
                                    </button>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="text-center">
                        <h5>
                          <button class="btn btn-outline invisible"
                                  data-toggle="modal"
                                  data-target="#report-modal">
                            <i class="ti-flag-alt-2 btn visible" data-toggle="tooltip" data-placement="bottom" title="Report">
                            </i>
                          </button>
                        </h5>
                        <div class="modal fade"
                            id="report-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="Report"
                            aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered"
                              role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"
                                    id="report-artwork">
                                  Report content
                                </h4>
                                <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <%= form_with  url: '#',
                                                 method: 'post',
                                                 local: true do |form| %>
                                    <div class="form-body">
                                      <div class="row m-l-10 m-r-10">
                                        <%= form.label :reasons, class: 'col-12 control-label font-weight-bold text-left' %>
                                        <ul class="icheck-list">
                                          <!-- NOTE: options for collection_check_boxes contain invisible chars -->
                                          <!--       used as a quick fix for checkbox bug -->
                                          <%= form.collection_check_boxes :reasons,
                                              [
                                                ["⠀⠀Violence", "v"],
                                                ["⠀⠀Nudity", "n"],
                                                ["⠀⠀Harassment", "h"],
                                                ["⠀⠀Copyright infringement", "c"],
                                                ["⠀⠀Repulsive content", "r"],
                                                ["⠀⠀Hateful content", "t"],
                                                ["⠀⠀Other", "o"]
                                              ],
                                              :second, :first do |b| %>
                                            <li class="float-left d-inline-block">
                                              <%= b.check_box class: "filled-in chk-col-light-blue" %>
                                              <%= b.label class: "m-l-20" %>
                                            </li>
                                          <% end %>
                                        </ul>
                                      </div>
                                      <div class="row m-l-10 m-r-10">
                                        <%= form.label :description, class: 'col-12 control-label font-weight-bold m-t-10 text-left' %>
                                        <%= form.text_area :description,
                                            size: '30x5',
                                            class: 'form-control m-l-10 m-r-10',
                                            placeholder: "Describe how you think the content is inappropriate (optional)" %>
                                      </div>
                                    </div>
                                    <div class="actions form-actions m-t-20">
                                      <div class="actions">
                                        <%= form.button :button,
                                            type: :submit,
                                            class: 'btn btn-success waves-effect' do %>
                                          Submit
                                        <% end %>
                                      </div>
                                    </div>
                                  <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <% end %>

                  <div class="row m-3">
                    <div class="col-12">
                      <div class="text-left vm">
                        <h3 class="text-themecolor m-t-10">
                          <%= @artwork.name %>
                        </h3>
                        <br/>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-left">
                        <h5>
                          <%#= @artwork.user.avatar, link %>
                          <i class="icon-user"></i>
                          <%= link_to @artwork.user.username, user_profile_path(@artwork.user) %>
                        </h5>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-left">
                        <h5>
                          <small>
                            <i class="icon-clock date"></i> on
                            <%= @artwork.created_at.strftime("%H:%M - %b %d, %Y") %>
                          </small>
                        </h5>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-left m-t-10">
                        <% tagnames.each do |tag| %>
                          <%= link_to tag,
                              '#',
                              class: "badge badge-info text-dark" %>
                        <% end %>
                      </div>
                    </div>
                    <div class="col-12 m-t-10">
                      <div class="text-left">
                        <hr />
                        <h4>Description</h4>
                        <p>
                          <%= @artwork.description %>
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-lg-4 col-xlg-4 col-md-12 col-sm-12" id="right-info-container">
            <div class="card">
                <!-- Nav tabs // change to simple scrollable list -->
                <ul class="nav nav-tabs customtab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#simarts" role="tab">In same category</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#sameauthor" role="tab" id="tab_sameau">From same author</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" id="right-info" style="padding: 2.5%;">
                    <div class="tab-pane active" id="simarts" role="tabpanel">
                      <% (similar_artworks @artwork).each do |sim_artw| %>
                        <%= link_to artwork_path(sim_artw),
                            class: 'image-popup-vertical-fit' do %>
                          <div class="square square-2"
                            style="background-image: url('<%= sim_artw.image.service_url %>');">
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                    <div class="tab-pane" id="sameauthor" role="tabpanel">
                      <% (same_authors_artworks @artwork).each do |sa_artw| %>
                        <%= link_to artwork_path(sa_artw),
                            class: 'image-popup-vertical-fit' do %>
                          <div class="square square-2"
                            style="background-image: url('<%= sa_artw.image.service_url %>');">
                          </div>
                        <% end %>
                      <% end %>
                    </div>
                </div>
            </div>
        <!-- Column -->
        </div>
    </div>


<% content_for :scripts do %>
<%#= javascript_pack_tag 'jquery.lockfixed' %>
<%#= javascript_pack_tag 'form_validation' %>

<script>
    function copy2clipboard() {
      navigator.clipboard.writeText("<%= artwork_url(@artwork) %>").then(
        // writeText without ruby code: .writeText(window.location.href).
        function() {
          console.log('Clipboard successfully set.');  /////////////////////////
        },
        function() {
          console.log('Clipboard write failed.');  /////////////////////////////
        }
      );
    }

    $(document).on('ajax:success', 'form#dl-form', function (event) {
      const [data, status, xhr] = event.detail;
      if (data.error) {
        $('#download-modal').modal('hide');
        $('#dnload-err-modal').modal('show');
        $('#dl-failed-txt').text(data.error);
        console.log('Download failed due to insufficient points.');  ///////////
      }
      else {
        // OK, so the problem is, I don't want to have the server handling
        // any images; it just has to return the img url. Client has to download
        // the image located at that url.
        // However, because of the hassle of CORS, it is impossible to directly
        // download from an external url.
        // Therefore, I did a search and came across this really useful code
        // snippet (it's a little bit hackish though).
        // In short, what it does are
        //    1. fetch the image from the url
        //    2. convert it into base64
        //    3. attach the base64 text to an anchor tag (a)
        //    4. simulate a click on the anchor tag to download the image

        function arrayBufferToBase64(buffer) {
          var binary = '';
          var bytes = [].slice.call(new Uint8Array(buffer));

          bytes.forEach((b) => binary += String.fromCharCode(b));

          return window.btoa(binary);
        };

        let options = {
          method: 'GET',
          mode: 'cors',
          cache: 'default'
        };
        let url = data.img_url;
        let request = new Request(url);

        fetch(request, options)
        .then((response) => {
          response.arrayBuffer()
          .then((buffer) => {
            let base64Flag = 'data:image/jpeg;base64,';
            let imageStr = arrayBufferToBase64(buffer);
            let base64Encoded = base64Flag + imageStr;

            let a = document.createElement('a');
            a.href = base64Encoded;
            a.download = data.artw_name;
            document.body.appendChild(a);
            a.click();
            document.body.removeChild(a);
          });
        });

        $('#download-modal').modal('hide');
      }
    });

    $(document).on('ajax:success', 'a#favlink', function (event) {
      const [data, status, xhr] = event.detail;
      $("#favcount").text(data.count);

      let $a = $("#favlink");
      let meth = $a.attr('data-method');
      let tg_meth = $a.attr('data-toggle-meth');
      let href = $a.attr('href');
      let tg_href = $a.attr('data-toggle-href');
      // update newly-created fav_id
      if (meth == 'post') {
        tg_href = tg_href.replace(/[0-9]+$/, data.favid);
      }

      $a.attr('href', tg_href);
      $a.attr('data-toggle-href', href);
      $a.attr('data-method', tg_meth);
      $a.attr('data-toggle-meth', meth);

      let $filled = $("#filled-heart");
      let $empty = $("#empty-heart");

      $filled.toggleClass('text text-active');
      $empty.toggleClass('text text-active');
    });

    $(document).ready(function () {
        let right_info = $("div.card-body#content").height();
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            let target = $(e.target).attr("href") // activated tab
            if (target == "#home") {
                right_info = $(".card-body#content").height();
            } else if (target == "#settings") {
                right_info = $(".card-body#instructors").height();
            } else if (target == "#learnersdiv") {
                right_info = $(".card-body#learners").height();
            }
        });
    });
</script>
<% end %>
