<%# section: 'pageStylesheets' %>
<%= stylesheet_link_tag "css/style" %>
<style>
    #content img {
        width: 100% !important;
    }
    #data-table-users td {
        text-align: center;
        vertical-align: middle;
    }
    [data-target *= "hidden-by-default"]:focus {
        outline: none;
    }
    .error {
        color: red;
        display: block;
        padding: 0;
        margin: 0;
    }
    .list-upload:hover {
        color: #1976d2;
        background: #e7f6fe;
    }
    #add-file-button:hover {
        color: #00897b;
        cursor: pointer;
    }
    .el-element-overlay .el-card-item {
      padding-bottom: 0;
    }
    .el-element-overlay .el-card-item .el-card-avatar {
      margin-bottom: 0;
    }
    .el-element-overlay .el-card-item .el-overlay-1:hover img {
      -ms-transform: scale(1) translateZ(0);
      -webkit-transform: scale(1) translateZ(0);
    }
    .btn-facebook {
      color: #fff;
      background-color: #4C67A1;
    }
    .btn-facebook:hover {
      color: #fff;
      background-color: #405D9B;
    }
    .btn-facebook:focus {
      color: #fff;
    }
    #get-link:hover i {
      color: #fff !important;
    }
</style>


<%# section: 'contents' %>

<div class="row page-titles">
  <div class="col-md-5 align-self-center">
    <h3 class="text-themecolor">Artwork View</h3>
  </div>
  <div class="col-md-7 align-self-center">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/">Home</a></li>
      <li class="breadcrumb-item">Artwork</li>
      <li class="breadcrumb-item active">Show</li>
    </ol>
  </div>
</div>

<div class="container-fluid">
    <div class="row el-element-overlay">
        <!-- Column -->
        <div class="col-lg-8 col-xlg-8 col-md-12 col-sm-12" id="left-info-container">
            <div class="card" id="left-info">
<%
=begin%>
 <%# if (@artwork.status == 'published') %>
                  <%# if (session().get('admin')['role_id'] == 1) %>
                  <div class="ribbon ribbon-info ribbon-right">Active</div>
                  <%# endif %>
                  <%# if (@artwork.max_quantity <= @artwork.learner_count) %>
                  <div class="ribbon ribbon-danger">Full</div>
                  <%# else %>
                  <div class="ribbon ribbon-info">Available</div>
                  <%# endif %>
              <%# elseif (@artwork.status == 'inactive')  %>
              <div class="ribbon ribbon-danger ribbon-right">Inactive</div>
              <%# elseif (@artwork.status == 'draft')  %>
              <div class="ribbon ribbon-default ribbon-right">Draft</div>
              <%# endif %> 
<%
=end%>
              <div class="el-card-item">
                <div class="el-card-avatar el-overlay-1">
                    <%= image_tag  @artwork.img_link, class: 'card-img-top img-responsive' %>
                </div>
                <div class="el-card-content">
                  <div class="row m-t-10">
                    <div class="col-3 b-r">
                      <div class="text-center">
                        <h5>
                          <%
                          # For guest users
                          empty_heart = 'text-active'
                          filled_heart = 'text'
                          link = login_path
                          meth = :get
                          uses_ajax = false
                          toggle_data = {}
                          
                          # For logged-in users
                          # user_signed_in = true  # Note: HARDCODED
                          # current_user = User.find(1)  # Note: HARDCODED
                          if current_user
                            fav = Favorite.find_by(artwork_id: @artwork.id, user_id: current_user.id)
                            fav_id = if fav then fav.id else 0 end
                            delete_link = user_artwork_favorite_path(
                              user_id: current_user.id,
                              artwork_id: @artwork.id,
                              id: fav_id
                            )
                            create_link = user_artwork_favorites_path(
                              user_id: current_user.id,
                              artwork_id: @artwork.id
                            )

                            if fav
                              link = delete_link
                              toggle_data = {
                                toggle_href: create_link,
                                toggle_meth: 'create'
                              }
                              empty_heart, filled_heart = filled_heart, empty_heart
                              meth = :delete
                              uses_ajax = true
                            else
                              link = create_link
                              toggle_data = {
                                toggle_href: delete_link,
                                toggle_meth: 'delete'
                              }
                              meth = :post
                              uses_ajax = true
                            end
                          end
                          %>

                          <%= link_to link,
                              method: meth,
                              remote: uses_ajax,
                              data: toggle_data,
                              id: 'favlink',
                              class: 'invisible' do %>
                            <button type="button"
                                class="btn btn-outline invisible"
                                data-toggle="button"
                                aria-pressed="true">
                              <i id="empty-heart"
                                class="fa fa-heart-o <%= empty_heart %> visible"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Favorite"
                                aria-hidden="true"></i>
                              <i id="filled-heart"
                                class="fa fa-heart <%= filled_heart %> text-danger visible"
                                data-toggle="tooltip"
                                data-placement="bottom"
                                title="Favorite"
                                aria-hidden="true"></i>
                            </button>
                          <% end %>
                          <span id="favcount">
                            <%=Favorite.where(artwork_id: @artwork.id).count %>
                          </span>
                        </h5>
                      </div>
                    </div>
                    <div class="col-3 b-r">
                      <div class="text-center">
                        <h5>
                          <button class="btn btn-outline invisible"
                                  data-toggle="modal"
                                  data-target="#download-modal">
                            <i class="ti-download btn visible" data-toggle="tooltip" data-placement="bottom" title="Download"></i>
                            <%#= @artwork.downloadcount %>
                          </button>
                        </h5>
                        <div class="modal fade"
                            id="download-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="Download"
                            aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered"
                              role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"
                                    id="download-artwork">
                                  Download this artwork
                                </h4>
                                <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <%= form_with  url: '#',
                                                 method: 'post',
                                                 local: true,
                                                 html: {class: 'form-material'} do |form| %>
                                    <div class="form-body row">
                                        <div class="col-6 b-r">
                                          <div>
                                            <%= form.radio_button :option, 'free', class: 'with-gap', checked: true %>
                                            <%= form.label :option_free, 'free', class: 'text-uppercase font-weight-bold' %>
                                          </div>
                                          <h5>Standard quality</h5>
                                          <small class="text-justify">
                                            Consider donating points to support the author
                                          </small>
                                          <br />
                                          <%= number_field_tag 'amount',
                                              5, min: 5, max: 9999, step: 5,
                                              class: 'w-25 form-control text-right' %> points
                                        </div>
                                        <div class="col-6">
                                          <div>
                                            <%= form.radio_button :option, 'paid', class: 'with-gap' %>
                                            <%= form.label :option_paid, 'paid', class: 'text-uppercase font-weight-bold' %>
                                          </div>
                                          <h5>High quality</h5>
                                          <h3 class="text-success">
                                            <%= @artwork.value %>
                                          </h3> points
                                        </div>
                                    </div>
                                    <div class="actions form-actions m-t-20">
                                      <div class="actions">
                                        <%= form.button :button,
                                            type: :submit,
                                            class: 'btn btn-success waves-effect' do %>
                                          Download
                                        <% end %>
                                      </div>
                                    </div>
                                  <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3 b-r">
                      <div class="text-center">
                        <h5>
                          <button class="btn btn-outline invisible"
                                  data-toggle="modal"
                                  data-target="#share-modal">
                            <i class="ti-share btn visible" data-toggle="tooltip" data-placement="bottom" title="Share">
                            </i>
                          </button>
                          <%#= @artwork.sharecount %>
                        </h5>
                        <div class="modal fade"
                            id="share-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="Share"
                            aria-hidden="true">
                          <div class="modal-dialog modal-sm modal-dialog-centered"
                              role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"
                                    id="share-artwork">
                                  Share this artwork
                                </h4>
                                <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                <div>
                                  <button type="button" id="get-link" class="btn btn-success btn-circle btn-lg m-l-10 m-r-10" onclick="copy2clipboard()">
                                    <i class="fa fa-link"
                                       data-toggle="tooltip"
                                       data-placement="bottom"
                                       title="Copy link"></i>
                                  </button>
                                  <a href="https://www.facebook.com/sharer/sharer.php?s=100&p[url]=<% @artwork.img_link %>&p[images][0]=&p[title]=Title%20Goes%20Here&p[summary]=Description%20goes%20here!" target="_blank" onclick="window.open(this.href,'targetWindow','toolbar=no,location=0,status=no,menubar=no,scrollbars=yes,resizable=yes,width=600,height=250,top=80,left=180'); return false">
                                    <button class="btn btn-facebook waves-effect btn-circle btn-lg waves-light m-l-10 m-r-10" type="button">
                                      <i class="fa fa-facebook"
                                         data-toggle="tooltip"
                                         data-placement="bottom"
                                         title="Share on Facebook"></i>
                                    </button>
                                  </a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="text-center">
                        <h5>
                          <button class="btn btn-outline invisible"
                                  data-toggle="modal"
                                  data-target="#report-modal">
                            <i class="ti-flag-alt-2 btn visible" data-toggle="tooltip" data-placement="bottom" title="Report">
                            </i>
                          </button>
                        </h5>
                        <div class="modal fade"
                            id="report-modal"
                            tabindex="-1"
                            role="dialog"
                            aria-labelledby="Report"
                            aria-hidden="true">
                          <div class="modal-dialog modal-dialog-centered"
                              role="document">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title"
                                    id="report-artwork">
                                  Report content
                                </h4>
                                <button type="button"
                                        class="close"
                                        data-dismiss="modal"
                                        aria-label="Close">
                                  <span aria-hidden="true">&times;</span>
                                </button>
                              </div>
                              <div class="modal-body">
                                  <%= form_with  url: '#',
                                                 method: 'post',
                                                 local: true do |form| %>
                                    <div class="form-body">
                                      <div class="row m-l-10 m-r-10">
                                        <%= form.label :reasons, class: 'col-12 control-label font-weight-bold text-left' %>
                                        <ul class="icheck-list">
                                          <!-- NOTE: options for collection_check_boxes contain invisible chars -->
                                          <!--       used as a quick fix for checkbox bug -->
                                          <%= form.collection_check_boxes :reasons, 
                                              [
                                                ["⠀⠀Violence", "v"],
                                                ["⠀⠀Nudity", "n"],
                                                ["⠀⠀Harassment", "h"],
                                                ["⠀⠀Copyright infringement", "c"],
                                                ["⠀⠀Repulsive content", "r"],
                                                ["⠀⠀Hateful content", "t"],
                                                ["⠀⠀Other", "o"]
                                              ],
                                              :second, :first do |b| %>
                                            <li class="float-left d-inline-block">
                                              <%= b.check_box class: "filled-in chk-col-light-blue" %>
                                              <%= b.label class: "m-l-20" %>
                                            </li>
                                          <% end %>
                                        </ul>
                                      </div>
                                      <div class="row m-l-10 m-r-10">
                                        <%= form.label :description, class: 'col-12 control-label font-weight-bold m-t-10 text-left' %>
                                        <%= form.text_area :description,
                                            size: '30x5',
                                            class: 'form-control m-l-10 m-r-10',
                                            placeholder: "Describe how you think the content is inappropriate (optional)" %>
                                      </div>
                                    </div>
                                    <div class="actions form-actions m-t-20">
                                      <div class="actions">
                                        <%= form.button :button,
                                            type: :submit,
                                            class: 'btn btn-success waves-effect' do %>
                                          Submit
                                        <% end %>
                                      </div>
                                    </div>
                                  <% end %>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row m-l-10 m-t-10">
                    <div class="col-12">
                      <div class="text-left vm">
                        <h3 class="text-themecolor m-t-10">
                          <%= @artwork.name %>
                        </h3>
                        <br/>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-left">
                        <h5>
                          <i class="icon-user"></i>
                          <%#= @artwork.user.avatar, link %>
                          <%#= @artwork.user.name, link %>
                          Daniel
                        </h5>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-left">
                        <h5>
                          <small>
                            <i class="icon-clock date"></i> on
                            <%= @artwork.created_at.strftime("%H:%M - %b %d, %Y") %>
                          </small>
                        </h5>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="text-left m-t-10">
                        <% dummy_tags = [
                          'US',
                          'mountain',
                          '30-day-challenge',
                          'sky'
                        ] %>
                        <% dummy_tags.each do |tag| %>
                          <%= link_to tag,
                              '#',
                              class: "badge badge-info text-dark" %>
                        <% end %>
<%
=begin%>
                        <% @artwork.tags.each do |tag| %>
                          <%= link_to tag.name,
                                      link_to_artworks_with_same_tag,
                                      class: "btn btn-sm btn-outline-info",
                                      style: "margin-bottom: 5px;" %>
                        <% end %> 
<%
=end%>
                      </div>
                    </div> 
                    <div class="col-12 m-t-10">
                      <div class="text-left">
                        <hr />
                        <h4>Description</h4>
                        <p>
                          <%#= @artwork.description %>
                          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae
                          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
                          sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est,
                          qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi
                          tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
                          quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur?
                          Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur,
                          vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <!-- Column -->

        <!-- Column -->
        <div class="col-lg-4 col-xlg-4 col-md-12 col-sm-12" id="right-info-container">   
            <div class="card">
                <!-- Nav tabs // change to simple scrollable list -->
                <ul class="nav nav-tabs customtab" role="tablist">
                    <li class="nav-item">
                      <a class="nav-link active" data-toggle="tab" href="#simarts" role="tab">In same category</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" data-toggle="tab" href="#sameauthor" role="tab" id="tab_sameau">From same author</a>
                    </li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content" id="right-info">
                    <div class="tab-pane active" id="simarts" role="tabpanel">
                      <% @similar.each do |simart| %>
                      <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                          <%= link_to  artwork_path(simart),
                              class: 'image-popup-vertical-fit' do %>
                            <%= image_tag  simart.img_link,
                                           alt: 'Oops!' %>
                          <% end %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                    <div class="tab-pane" id="sameauthor" role="tabpanel">
                      <% @same_author.each do |sameauthor| %>
                      <div class="el-card-item">
                        <div class="el-card-avatar el-overlay-1">
                          <%= link_to  artwork_path(sameauthor),
                              class: 'image-popup-vertical-fit' do %>
                            <%= image_tag  sameauthor.img_link,
                                           alt: 'Oops!' %>
                          <% end %>
                        </div>
                      </div>
                      <% end %>
                    </div>
                </div>
            </div>
        <!-- Column -->
        </div>
    </div>
</div>


<%# section: 'pageScripts' %>
<%#= javascript_pack_tag 'jquery.lockfixed' %>
<%#= javascript_pack_tag 'form_validation' %>

<script>
    function copy2clipboard() {
      navigator.clipboard.writeText("<%= artwork_url(@artwork) %>").then(
        // writeText without ruby code: .writeText(window.location.href).
        function() {
          console.log('Clipboard successfully set.');  /////////////////////////
        },
        function() {
          console.log('Clipboard write failed.');  /////////////////////////////
        }
      );
    }
    
    $(document).on('ajax:success', 'a#favlink', function (event) {
      const [data, status, xhr] = event.detail;
      $("#favcount").text(data.count);
      console.log("success ajax response: fav_count = " + data.count);  ////////
      
      let $a = $("#favlink");
      let meth = $a.attr('data-method');
      let tg_meth = $a.attr('data-toggle-meth');
      let href = $a.attr('href');
      let tg_href = $a.attr('data-toggle-href');
      // update newly-created fav_id
      if (meth == 'post') {
        tg_href = tg_href.replace(/[0-9]+$/, data.favid);
      }

      $a.attr('href', tg_href);
      $a.attr('data-toggle-href', href);
      $a.attr('data-method', tg_meth);
      $a.attr('data-toggle-meth', meth);

      let $filled = $("#filled-heart");
      let $empty = $("#empty-heart");

      $filled.toggleClass('text text-active');
      $empty.toggleClass('text text-active');
    });

    $(document).ready(function () {
        let right_info = $("div.card-body#content").height();
        $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
            let target = $(e.target).attr("href") // activated tab
            if (target == "#home") {
                right_info = $(".card-body#content").height();
            } else if (target == "#settings") {
                right_info = $(".card-body#instructors").height();
            } else if (target == "#learnersdiv") {
                right_info = $(".card-body#learners").height();
            } 
        });
    });
</script>
