<% content_for :title do "All categories" end %>


<% content_for :head do %>
  <style>
  .dataTables_wrapper .dataTables_paginate .pagination {
    /* To center paginator */
    /* .dataTables_wrapper .dataTables_paginate {text-align: center;} */
    display: inline-block !important;
  }
  </style>
<% end %>


<% content_for :header do %>
  <div class="row page-titles">
      <div class="col-md-5 align-self-center">
          <h3 class="text-themecolor">Manage Categories</h3>
      </div>
      <div class="col-md-7 align-self-center">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item">Category</li>
              <li class="breadcrumb-item active">Manage</li>
          </ol>
      </div>
  </div>
<% end %>


<% content_for :alert do %>
  <div class="row">
    <div class="col-12">
      <% flash.each do |type, msg| %>
        <% if type == 'notice' %>
          <div class="alert alert-success">
            <%= msg %>
          </div>
        <% elsif type == 'alert' %>
          <div class="alert alert-danger">
            <%= msg %>
          </div>
        <% else %>
          <div class="alert alert-warning">
            <%= msg %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>


  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive">
            <h4 class="card-title">Category List</h4>
            <h6 class="card-subtitle">Find and manage all categories here.</h6>

            <table id="myTable" class="table table-bordered table-striped">
              <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Updated At</th>
                    <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                <% @categories.each_with_index do |category, index| %>
                  <tr>
                    <td><%= index + 1 %></td>
                    <td>
                      <%= category.name %>
                      <% if (category.updated_at + 60.minutes).utc > Time.now.utc %>
                      &nbsp;
                      <span class="badge badge-pill badge-success">recent</span>
                      <% end %>
                    </td>
                    <td>
                      <!-- quick hack to display time before date without affecting ordering -->
                      <span class="d-none"><%= category.updated_at %></span>
                      <%= category.updated_at.strftime("%H:%M - %b %d, %Y") %>
                    </td>
                    <td>
                      <%#= link_to 'Show', category %>
                      <%= link_to edit_admin_category_path(category),
                          class: 'btn btn-primary btn-xs' do %>
                        <i class="fa fa-edit"></i> Edit
                      <% end %>
                      <button type="button"
                              class="btn btn-danger btn-xs"
                              data-toggle="modal"
                              data-target="#dc<%= category.id %>">
                        <i class="fa fa-trash"></i> Delete
                      </button>
                      <!-- Comfirm modal for Delete button -->
                      <div class="modal fade"
                           id="dc<%= category.id %>"
                           tabindex="-1"
                           role="dialog"
                           aria-labelledby="exampleModalCenterTitle"
                           aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered"
                             role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title"
                                  id="exampleModalCenterTitle">
                                Delete category?
                              </h4>
                              <button type="button"
                                      class="close"
                                      data-dismiss="modal"
                                      aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">
                              <p>
                                <span class="text-secondary">Name: </span>
                                <%= category.name %>
                              </p>
                              <p>
                                <span class="text-secondary">Updated at: </span>
                                <%= category.updated_at %>
                              </p>
                            </div>
                            <div class="modal-footer">
                              <button type="button"
                                      class="btn btn-default waves-effect"
                                      data-dismiss="modal">
                                Cancel
                              </button>
                              <%= link_to admin_category_path(category),
                                  method: :delete,
                                  class: "btn btn-danger waves-effect waves-light" do %>
                                Confirm
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>


<% content_for :scripts do %>
  <script>
      $(document).ready(function () {
          var t = $('#myTable').DataTable({
              'paging': true,
              'info': false,
              "columnDefs": [
                  {
                      "targets": [0, 3],
                      "orderable": false,
                      "searchable": false
                  }
              ],
              // "order": [[ 2, 'desc' ]], // by time_created
              "language": {
                  "lengthMenu": "# items per page _MENU_",
                  "info": "Showing _START_ to _END_ of _TOTAL_ categories",
                  "emptyTable": "No categories",
                  "infoFiltered": "(filtered from _MAX_ total categories)",
                  "zeroRecords": "No matching categories found",
                  "infoEmpty": "No categories to show",
                  "loadingRecords": "Loading categories..."
              },
              "sDom": "lfrtp"
          });

          t.on('draw', function () {
              var PageInfo = $('#myTable').DataTable().page.info();
              t.column(0, { page: 'current' }).nodes().each(function (cell, i) {
                  cell.innerHTML = i + 1 + PageInfo.start;
              });
          });
      });
  </script>
<% end %>
