<!-- Topbar header - style you can find in pages.scss -->
<header class="topbar">
    <nav class="navbar top-navbar navbar-expand-md navbar-light">

        <!-- Logo -->
        <div class="navbar-header" style="background: #272c33 !important;">
            <a class="navbar-brand" href="/">
                <b><%= image_tag image_url('logo.png'), alt: 'homepage', height: '36' %></b>
            </a>
        </div>

        <div class="navbar-collapse">

            <!-- toggle and nav items -->
            <ul class="navbar-nav mt-md-0">
                <li class="nav-item"> <a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="mdi mdi-menu"></i></a> </li>
                <li class="nav-item m-l-10"> <a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

                <%
=begin%>
 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted text-muted waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="mdi mdi-message"></i>
                        <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                    </a>
                    <div class="dropdown-menu mailbox animated slideInUp">
                        <ul>
                            <li>
                                <div class="drop-title">Notifications</div>
                            </li>
                            <li>
                                <div class="message-center">
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Admin</h5> <span class="mail-desc">Just see my new admin!</span> <span class="time">9:30 AM</span> </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                    </a>
                                    <!-- Message -->
                                    <a href="#">
                                        <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                        <div class="mail-contnet">
                                            <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                    </a>
                                </div>
                            </li>
                            <li>
                                <a class="nav-link text-center" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
<%
=end%>
                </li>
            </ul>

            <ul class="navbar-nav mr-auto my-0 w-100">
              <li class="nav-item mx-xl-5 mx-lg-4 mx-sm-3 mx-2 w-100">
                <%= yield :search %>
              </li>
            </ul>

            <!-- User profile -->
            <ul class="navbar-nav my-lg-0">
                <!-- Profile -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-muted waves-effect waves-dark"
                      href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <%= image_tag asset_path('paint-palette256.png'), alt: 'User', class: 'profile-pic' %>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right scale-up">
                        <% if current_user ########################## %>

                        <ul class="dropdown-user">
                            <li>
                                <div class="dw-user-box">
                                    <div class="u-img">
                                    <%= image_tag asset_path('paint-palette256.png'), alt: 'User profile', class: 'profile-pic' %>
                                    </div>
                                    <div class="u-text">
                                        <h4><%= current_user.username %></h4>
                                        <p class="text-muted"><%= current_user.email %></p><a href="<%= my_profile_path %>" class="btn btn-rounded btn-danger btn-sm">View Profile</a></div>
                                </div>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/users/edit"><i class="ti-user"></i> Edit Profile</a></li>
                            <li><a href="#"><i class="ti-wallet"></i> My Points</a></li>
                            <li><a href="#"><i class="ti-email"></i> Notifications</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#"><i class="ti-settings"></i> Account Setting</a></li>
                            <li role="separator" class="divider"></li>
                            <li>
                            <%= link_to "Logout", destroy_user_session_path,
                            method: :delete %>
                            </li>
                        </ul>

                        <% else %>

                        <ul class="dropdown-user">
                            <li><a href="/users/sign_in"><i class="fa fa-sign-in"></i> Login</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="/users/sign_up"><i class="fa fa-address-book-o"></i> Signup</a></li>
                        </ul>

                        <% end %>
                    </div>
                </li>
            </ul>

        </div>
    </nav>
</header>
